mat-sidenav-container {
  height: 90%;
}

mat-sidenav-content {
  display: flex;
  justify-content: center;
  margin: 25px;
}

p {
  margin: 15px;
  padding: 5px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: xx-large;
}

a, a:visited, a:active, a:hover {
  text-decoration: none;
  color: inherit;
}
